@import url(https://fonts.googleapis.com/css?family=Quicksand:300,regular,500,600,700);

*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-family: 'Quicksand';
    font-size: 20px;
}
