nav {
    display: flex;
    height: 10vh;
    align-items: center;
    background: black;
    color: white;
    justify-content: space-evenly;
    .left {
        display: flex;
        flex: 1;
        align-items: flex-end;
        justify-content: center;
        .logo {
            font-size: 40px;
            font-family: 'Montserrat';
            font-weight: bold;
        }

        button {
            background: none;
            border: none;
            outline: none;
            color: white;
            margin-left: 20px;
            margin-bottom: 10px;
            text-decoration: underline;
        }
    }
    .right {
        flex: 1;
        ul {
            list-style: none;
            display: flex;
            justify-content: flex-end;
            li {
                font-size: 16px;
                margin: 0 10px;
            }
            margin-right: 30px;
        }
    }
}